section{
    margin-left: 10px;
    margin-top: 20px;
}

mat-icon{
    margin-right: 5px;
    color: #5206df;    
}

.Option-secondary{
    margin-left: 25px;
  }

img{
    cursor: pointer;
}

active{
    color: #5206df;
    background-color: #747179;
}